.sign-in-sign-up-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  img {
    width: 150px;
  }
  h2 {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
  }
  .switchText{
    font-size: 15px;
    padding-top: 10px;
    span{
      color: #007bff;
      margin-left: 4px;
      cursor: pointer;
      text-decoration: underline;
      font-weight: bold;
    }
  }
}

.sign-in,
.sign-up {
  width: 300px;
  padding: 20px;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

button {
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

button[type="submit"] {
  background-color: #007bff;
}

button[type="submit"]:hover {
  background-color: #0056b1;
}
